<div class="row">
  <h1> Paises </h1>
  <hr class="text-black">

  <ul class="list-group">

    <li routerLink='country/by-capital' class="list-group-item list-group-item-light" routerLinkActive="active">
      Por capital
    </li>

    <li routerLink='country/by-country' class="list-group-item list-group-item-light" routerLinkActive="active">
      por Pais
    </li>


    <li routerLink='country/by-region' routerLinkActive="active" class="list-group-item list-group-item-light">
      Por Region
    </li>

  </ul>

</div>

